---
---

/* RGB */

$color1: rgba(231, 237, 239, 1);    //#e7edef Light Gray
$color2: rgba(182, 216, 234, 1);  //#b6d8ea Light Blue
$color3: rgba(131, 172, 192, 1);  //#83acc0 Medium blue
$color4: rgba(34, 86, 105, 1);  //#1e5669 Navy Teal
$color5: rgba(34, 34, 34, 1);     //#222222 Blackish
$color6: rgba(255, 255, 255, 1);	//#ffffff White
//$color6: rgba(180, 191, 198, 1);	//#b4bfc6

/* General */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html{
	font: normal 16px sans-serif;
	color: #555;
}

a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

.section-separator {
    margin-top: 50px;
    margin-bottom: 10px;
    border: 0;
    height: 2px;
    width: 80%;
    background-image: linear-gradient(to right, rgba(182, 216, 234, 0), $color2, rgba(182, 216, 234, 0));
}

/*----------------
	Nav
----------------*/

header {
	margin: 0;
	padding: 0;
}

.navbar-default {
	padding-top: 10px;
	padding-bottom: 10px;
	background: transparent;
	border-color: transparent;
}

.navbar-default .navbar-nav > li > a {
  color: $color4;
  font-size: 16px;
  font-family: 'Mulish', 'sans serif';
  font-weight: bold;
  margin-right: 20px;
  transition: color 300ms ease;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: $color4;
	color: $color6;
}

@media (max-width: 767px) {
	.navbar-collapse {
		background-color: $color4;
		text-align: center;
	}

	.navbar-default .navbar-nav > li > a {
		color: $color6;
		font-size: 16px;
		font-family: 'Mulish', 'sans serif';
		font-weight: bold;
		margin-right: 20px;
		transition: color 300ms ease;
	  }
}

.navbar-fixed-top.scrolled {
  background-color: $color1;
  transition: background-color 200ms linear;
}

.changedirection {
          unicode-bidi: bidi-override;
	  direction: rtl;
}


/*----------------
 	Hero Section
----------------*/

.hero {
	position: relative;
	/*height: 64vh;*/
	color: #fff;
	padding-top: 10vh;
  	padding-bottom: 10vh;
  	border-bottom: 3px solid $color4;
}

#bannerimage {
	background-image: url(../img/visualizationweb.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: grayscale(40%);
}

.hero .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #212121;
	z-index: -1;
}

.hero .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color1;
	opacity: 0.90;
}

.hero .bannertext {
	text-align: center;
	margin-top: 80px;
}

.hero .bannertext .edition {
	margin-bottom: auto;
	display: inline-block;
	background-color: $color4;
	border-radius: 50px;
}

.hero .bannertext .edition h2 {
	margin: 0;
	font-family: 'Mulish', sans-serif;
	font-weight: bold;
	font-size: 18px;
	color: $color6;
	padding: 12px 27px 10px 27px;
}

.hero .bannertext .cidaenlogo img {
	width: 225px;
}

.hero h1 {
	margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
	font-size: 42px;
	margin-bottom: 50px;
	color: $color4;
}

.hero h3{
	font-family: 'Barlow Condensed', sans-serif;
	font-weight: 400;
	font-size: 25px;
	margin-bottom: 10px;
}

.hero a.btn{
	padding: 20px 46px;
}

/*@media (max-width: 992px){

	.hero {
		min-height: 700px;
	}
}*/

@media (max-width: 768px){

	.hero h1 {
		font-size: 36px;
	}
}


/*--------------------
	Important Info
---------------------*/

#important-info {
	min-height: 20vh;
	padding-top: 25px;
	padding-bottom: 25px;
}

.important-item {
	text-align: center;
}

.important-item h3 {
    color: $color4;
    font-family: 'Mulish', 'sans serif';
	font-weight: bold;
    font-size: 24px;
}

#item-duracion h4 {
	color:red;
}

#modalidad-portada {
	color: $color5;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#duracion-portada {
	color: $color5;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#meses-portada {
	color: $color5;
	font-size: 18px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}

#creditos-portada {
	color: $color5;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#pinscripcion-portada {
	color: $color5;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#parinscripcion-portada {
	color: $color5;
	font-size: 18px;
	font-family: 'Roboto', sans-serif;
}

#pmatricula-portada {
	color: $color5;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#pmatricula-meses-portada {
	color: $color5;
	font-size: 18px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}

#preinscripcion-fin {
	color: rgb(172, 0, 51);
	font-weight: 700;
}

#parmatricula-portada {
	color: $color5;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#parmatricula-meses-portada {
	color: $color5;
	font-size: 18px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
}

.item-orientacion-portada {
	color: $color5;
	font-size: 22px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

.item-orientacion-portada-l {
	color: $color5;
	font-size: 22px;
	margin-top: 1px;
	margin-bottom: 1px;
	font-family: 'Roboto', sans-serif;
}

.instituciones {
	border-bottom: 3px solid $color4;
	padding-bottom: 25px;
}

.institucion {
	width: 100%;
	max-width: 20vh;
	white-space: nowrap;
	text-align: center;
	margin: 1em 0;
}

.organizan .institucion {
	height: 10vh;
}

.colaboran .institucion {
	height: 7vh;
}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.placeholder {
	display: inline-block;
	background-color: black;
	height: 60px;
	width: 120px;
	vertical-align: middle;
}

.institucion h4 {
	display: inline-block;
	color: #3e5a6d;
	font-size: 24px;
	vertical-align: middle;
    font-family: Pacifico, cursive;
}

.institucion .logo {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

.institucion .logo-width {
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: middle;
}

@media (max-width: 768px){

	/*.hero {
		min-height: 700px;
	}*/

	#important-info {
		min-height: 700px;
	}

	.important-item {
		margin-bottom: 40px;
	}
}


/*----------------
 	Metodología section
----------------*/

#metodologia {
	position: relative;
	height: auto;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 3px solid $color4;
}

.clear {
	clear: both;
}

#metodologiaimage {
	background-image: url(../img/neural.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: grayscale(40%);
}

#metodologia .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color1;
	z-index: -1;
}

#metodologia .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color1;
	opacity: 0.9;
}

/*
#metodologia .bannertext {
	text-align: center;
	margin-top: 80px;
}

#metodologia  .bannertext .edition {
	margin-bottom: auto;
	display: inline-block;
	background-color: $color5;
	border-radius: 50px;
}

#metodologia .bannertext .edition h2 {
	text-align: center;
	margin:0;
	font-family: Roboto, sans-serif;
	font-weight: 500;
	font-size: 25px;
	color: #b4bfc6;
	padding: 10px 25px 8px 25px;
}

#metodologia .bannertext .uclmlogo img {
	margin-top: 10px;
}

#metodologia .bannertext .uclmlogo img {
	width:80px;
}


#metodologia h1{
	margin-top: 20px;
	font-family: sans-serif;
	font-weight: 700;
	font-size: 60px;
	margin-bottom: 15px;
	text-align: left;
	color: #b4bfc6;
}

*/

#metodologia h3{
	font-family: 'Mulish', 'sans serif';
	font-weight: bold;
	font-size: 25px;
	font-weight: 500;
	margin-bottom: 10px;
	color: $color4;
	text-align: left;
}

#metodologia h4{
	font-family: 'Roboto', 'sans serif';
	font-size: 16px;
	font-weight: 500;
	margin-bottom: 10px;
	color: $color4;
	text-align: center;
}

/*
#metodologia .job {
	margin-top: 20px;
	border: 1px solid #b4bfc6;
}

#metodologia .job h3 {
	text-align: center;
}
*/

/*
#metodologia .modalidad-curso {
	margin-top: 30px;
}
*/

#metodologia a {
  transition: color 300ms ease;
  color: $color4;
}

#metodologia a:hover {
	text-decoration: underline;
}

#metodologia .modalidad-curso li{
	font-family: Roboto, cursive;
	font-size: 18px;
	margin-top: 10px;
	font-weight: 400;
	color: $color4;
}

#metodologia .practico-curso {
	margin-top: 10px;
	margin-bottom: 10px;
}

#metodologia .practico-curso li{
	font-family: Roboto, cursive;
	font-size: 18px;
	margin-top: 10px;
	font-weight: 400;
	color: $color4;
}



/*--------------------
	Content
---------------------*/


#content {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 3px solid $color4;
	display: block;
	width: 100%;
}

#content > h1 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
	font-family: 'Mulish', 'sans serif';
	font-weight: bold;
	color: $color4;
}

#content .module .panel-heading {
	background-color: $color4;
}

#content .module .panel-heading a {
	color: $color6;
	font-family: 'Roboto', 'sans serif';
}

#content .module {
	margin-bottom: 10px;
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#content .capstone {
	margin-top: 20px;
	margin-bottom: 20px;
}


#content .capstone .panel-heading a {
	color: #b4bfc6;
}

#content .capstone .panel-heading {
	text-align: center;
	background-color: #3e5a6d;
}

#content .final {
	margin-top: 20px;
	margin-bottom: 20px;
}

#content .final .panel-heading {
	text-align: center;
	background-color: #222222;
}

#content .final .panel-heading a {
	color: #b4bfc6;
}

/*--------------------
	Profesores
---------------------*/
#profesores {
	position: relative;
	height: auto;
	min-height: 100vh;
	color: #fff;
	padding-top: 25px;
	text-align: center;
	padding-bottom: 25px;
	border-bottom: 3px solid $color4;
}

#profesores h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
	font-family: 'Mulish', 'sans serif';
	font-weight: bold;
	color: $color4;
}

.colaborator {
	padding-top: 5px;
	padding-bottom: 5px;
	margin: 20px 0;
	background: rgba(190, 201, 208, 0.3);
	border-radius: 30px;
}

.colaborator h5 {
	font-family: 'Montserrat', 'sans serif';
	font-size: 16px;
	font-weight: bold;
	color: $color4;
}

.colaborator p { 
	font-family: 'Montserrat', 'sans serif';
	font-size: 14px;
	color: $color4;
}

.only-colaborator {
	width: 80%;
	margin: 20px auto;
}


/*----------------------
 	Inscripcion
----------------------*/

#inscripcion {
	position: relative;
	height: auto;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 3px solid $color4;
}

#inscripcionimage {
	background-image: url(../img/colaboradores.jpg);
	width: 100%;
	height: 100%;
	background-size: cover;
	filter: grayscale(40%);
}

#inscripcion .background-image{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color1;
	z-index: -1;
}

#inscripcion .background-image:after{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color1;
	opacity: 0.9;
}

#inscripcion h2 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 30px;
	font-family: 'Mulish', 'sans serif';
	font-weight: bold;
	color: $color4;
}

.inscripcion-head {
    color: $color4;
    font-family: 'Mulish', 'sans serif';
	font-weight: bold;
    font-size: 22px;
}

.inscripcion-content {
	color: $color5;
	font-size: 20px;
	margin-top: 20px;
	font-family: 'Roboto', sans-serif;
}

#block-inscribete {
	margin-top: 40px;
	margin-bottom: 20px;
}

#matricula-proxima {
	color: rgba(127, 127, 127, 1);
	padding-top: 20px;
}

#btn-inscribete {
	background: rgb(172, 0, 51);
  	border-radius: 28px;
  	font-family: 'Roboto', sans-serif;
  	color: $color6;
  	font-size: 18px;
  	padding: 10px 20px 10px 20px;
  	text-decoration: none;
}

#btn-inscribete:hover {
  // background: #666;
  // background-image: -webkit-linear-gradient(top, #666, #444);
  // background-image: -moz-linear-gradient(top, #666, #444);
  // background-image: -ms-linear-gradient(top, #666, #444);
  // background-image: -o-linear-gradient(top, #666, #444);
  // background-image: linear-gradient(to bottom, #666, #444);
  text-decoration: underline;
}


/*-------------
 	Footer
-------------*/

footer {
	padding-top: 25px;
	padding-bottom: 25px;
}

#pregunta {
	text-align: center;
	color: $color4;
    font-family: 'Mulish', sans-serif;
	font-weight: bold;
	font-size: 32px;
	font-weight: bold;
	margin-bottom: 30px;
}

footer i.outer {
	color: $color4;
}

footer i.inner {
	color: $color6;
}

footer .mail {
	font-family: 'Roboto', 'sans serif';
	font-size: 16px;
	text-align: left;
	margin: 0 0 0 7.5px;
}

footer .redes-sociales p {
	margin: 0 0 0 7.5px;
	font-size: 16px;
	font-family: 'Roboto', 'sans serif';
}

footer .telefono {
	font-family: 'Roboto', 'sans serif';
	font-size: 16px;
	margin: 0 0 0 5px;
}

@media (max-width: 767px) {
	footer .footer-panel {
		margin-bottom: 40px;
	}
}

footer table tr td {
	vertical-align: middle;
	padding: 10px 0;
	white-space: nowrap;
}

footer table {
	margin: auto;
}

footer h3 {
	text-align: center;
    color: $color4;
    font-family: 'Mulish', 'sans serif';
	font-weight: bold;
    font-size: 24px;
	margin-bottom: 20px;
}

footer .ldireccion {
	font-size: 16px;
	margin: 15px;
	font-family: 'Roboto', 'sans serif';
}

ul {
	list-style-position: inside;
	padding-left: 2em;
}

.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
	align-items: center;
  padding: 10px;
}

/* to center flex-items */
.flex-item {
   margin: auto 1.5em;
}
